@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Simulador de Equipos</h1>
    <div class="content">
        <div class="text">En esta página podrás crear una gran variedad de equipos con diferente capacidad de jugadores, además podrás crear jugadores cada uno con su posicion respectiva y añadirlos a tus equipos favoritos</div>
        <img src="Images/Liga.jpg" alt="Imagen de equipos de fútbol" width="400" height="auto" />
    </div>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

